@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  margin:0;
  padding:0;
}
body{
  font-family: 'Lato', sans-serif;
}
.main{
  width: 50%;
  margin: auto;
}
header{
  background-color: #800;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}
header h1{
  color: white;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
form{
  width: 90%;
  margin:auto;
  background: #fff;
  box-shadow: 1px 6px 6px rgba(0,0,0,0.75);
  padding: 1rem;
}
form input{
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  outline: none;
  border: 1px solid #800;
  font-size: 23px;
}
form button{
  width: 100%;
  margin:10px 0 10px 0;
}
.todo-card{
  width: 100%;
  margin:auto;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.75);
  border-radius: 6px;
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
.todos-check{
  display: inline-flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-left: 5px;      
}

.modal-container{
  width: 25rem;
  margin: auto;
}
.modal{
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  border-radius: 6px;
  background-color: #fff;
  width: 25rem;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 20vh;
  left: calc(50%-15%);
  z-index: 10;
}
.btn, button{
  background-color: #800;
  color: #fff;
  padding: 0.5rem;
  border: 1px solid #800;
  border-radius: 4px;
  margin-right: 4px;
  cursor: pointer;
}
.modal>.btn--no{
  background-color: transparent;
  color: #800;
}
.modal>.btn--no:hover{
  color: #fff;
  background-color:#800;
}
.backdrop{
  position: fixed;
  z-index: 1;
  background-color: rgba(0,0,0,0.75);
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}
.del{
  float:right;
}
.loading{
  display: flex;
  justify-content:center;
  align-items:center;
  margin-top: 100px;
}

@media screen and (max-width: 940px) {
  .main{
    width: 95%;
    margin: auto;
  }
}
@media screen and (max-width: 425px){
  .modal-container{
    padding: 4rem;
    margin: 0;
  }
  .modal{
    width: 40%;
    margin-left: -20px !important;
  }
}
